[submodule "src/models/sudormrf/base"]
	path = src/models/sudormrf/base
	url = https://github.com/Bendemeurichy/sudo_rm_rf.git

[submodule "src/models/tuss/base"]
	path = src/models/tuss/base
	url = https://github.com/merlresearch/unified-source-separation.git

[submodule "src/models/clapsep/base"]
	path = src/models/clapsep/base
	url = https://github.com/Aisaka0v0/CLAPSep.git
